spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microservice_bank
    username: user
    password: pass
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080
